/* ========= Body Style ========= */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #2e2e2e;
  line-height: 1.6;
  padding: 2rem;
  
}

/* ========= Heading Style ========= */
h1, h2, h3 {
  color: #1e3a8a;
  font-size: larger;
  margin-top: 2rem;
}

/* ========= Paragraph Style ========= */
p {
  margin-bottom: 1rem;
}

a {
  color: #0ea5e9;
  text-decoration: none;
}

a:hover {
  color: #34d399;
  text-decoration: underline;
}

.container {
  max-width: 900px;
  margin: auto;
  background: #ffffff;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 1px solid #d1d5db;
  text-align: center;
}

/* ========= Custom Paragraph Heading Style ========= */
.paragraph-heading {
  font-size: 20px;
   color: #1e3a8a;
}

/* ========= Custom Paragraph Body Style ========= */
.paragraph-body {
  font-size: 18px;
  color: #2e2e2e;
}

.site-footer {
  text-align: left;
  padding: 1rem;
  background-color: #f4f4f4;
  color: #333;
  margin-top: 2rem;
  font-size: 0.9rem;
  border-top: 1px solid #ccc;
}